{
  {# JINJA template for updating a new SOAR incident from an endpoint #}
  {# specify your custom fields for your endpoint solution #}
  "properties": {
    "darktrace_incident_last_modified": {{ end }},
    "darktrace_associated_device_ids": "{{ devices }}",
    "darktrace_incident_group_acknowledged": "{% if acknowledged %}Yes{% else %}No{% endif %}",
    "darktrace_number_of_events_in_group": "{{ incidentEvents|length }}"
  }
}
