{
  {# JINJA template for creating a new SOAR incident from an endpoint #}
  {% set severity_mapping = '''{
    "critical": "High", 
    "suspicious": "Medium", 
    "compliance": "Low", 
    "DEFAULT": "Low"
  }'''
  %}
  "name": "Darktrace AI Analyst Incident - {{ incidentEvents|map(attribute='title')|join(', ') }}",
  "description": "<a target='_blank' href='{{ groupUrl }}'>AI Analyst Incident Event Group</a> created from Darktrace",
  {# start_date cannot be after discovered_date #}
  "discovered_date": {{ start }},
  "start_date": {{ start }},
  "plan_status": "A",
  "severity_code": "{{ category | soar_substitute(severity_mapping) }}",
  {# specify your custom fields for your endpoint solution #}
  "properties": {
    "darktrace_aianalyst_incident_group_id": "{{ id }}",
    "darktrace_incident_group_link": "<a target='_blank' href='{{ groupUrl }}'>AI Analyst Incident</a>",
    "darktrace_incident_group_acknowledged": "{% if acknowledged %}Yes{% else %}No{% endif %}",
    "darktrace_incident_last_modified": {{ end }},
    "darktrace_incident_group_start_time": {{ start }},
    "darktrace_associated_device_ids": "{{ devices|join(', ') }} ({{ devices|length }} total devices involved)",
    "darktrace_initiating_device_ids": "{{ initialDevices|join(', ') }}",
    "darktrace_group_category": "<span class='label' rel='tooltip' title='{{ category }}'>{{ category|camel }}</span>",
    "darktrace_group_score": "{{ '%0.2f'|format(groupScore|float) }}",
    "darktrace_number_of_events_in_group": "{{ incidentEvents|length }}"
  },
  {# add comments as necessary #}
  "comments": [
    {
      "text": {
        "format": "html",
        "content": "<b>Created by Darktrace</b>"
      }
    }
  ]
}