include README.md
include Dockerfile
include entrypoint.sh
recursive-include fn_guardium_insights_integration/util *
include fn_guardium_insights_integration/LICENSE
include doc/*.md
include doc/screenshots/*
recursive-include payload_samples/*/ *.json

exclude *.bak