include README.md
include Dockerfile
include entrypoint.sh
recursive-include fn_playbook_utils/util *
include fn_playbook_utils/LICENSE
include doc/*.md
include doc/screenshots/*
recursive-include payload_samples/*/ *.json
inlcude apikey_permissions.txt

exclude *.bak
