{
  {# JINJA template for creating a new Resilient incident from a CbProtect approval request. #}

  {# This just sets minimal field values - more are set by an automatic rule after creation. #}

  "name": "Cb Protection Approval Request for {{fileName|js}} - Cb Protect Request ID {{id|string}}",

  "start_date": {{dateCreated|timestamp_to_millis}},
  "discovered_date": {{dateCreated|timestamp_to_millis}},

  "description": {
    "format": "html",
    "content": "<div><p>{{requestorComments|js}}</p></div>"
  },

  "incident_type_ids": [
  ],

  "properties": {
    "cb_protect_triggered_on": {{dateCreated|timestamp_to_millis}}
  },

  "pii": {
    "data_contained": false,
    "data_compromised": false
  },
  "regulators": {
    "ids": [
      149
    ]
  }
}
