include README.md
include Dockerfile
include entrypoint.sh
recursive-include fn_bmc_helix/util *
recursive-include fn_bmc_helix/lib *
include fn_bmc_helix/LICENSE
include doc/*.md
include doc/screenshots/*
recursive-include payload_samples/*/ *.json

exclude *.bak