include README.md
include Dockerfile
include entrypoint.sh
recursive-include fn_ldap_utilities/util *
include fn_ldap_utilities/LICENSE
include doc/*.md
include doc/screenshots/*
recursive-include payload_samples/*/ *.json

exclude *.bak