{
  "actions": [],
  "apps": [],
  "automatic_tasks": [],
  "export_date": 1653355101441,
  "export_format_version": 2,
  "export_type": "ORG",
  "fields": [
    {
      "export_key": "incident/internal_customizations_field",
      "id": 0,
      "input_type": "text",
      "internal": true,
      "name": "internal_customizations_field",
      "read_only": true,
      "text": "Customizations Field (internal)",
      "type_id": 0,
      "uuid": "bfeec2d4-3770-11e8-ad39-4a0004044aa1",
      "tags": []
    }
  ],
  "functions": [],
  "geos": null,
  "groups": null,
  "id": 1,
  "inbound_destinations": [],
  "inbound_mailboxes": null,
  "incident_artifact_types": [],
  "incident_types": [
    {
      "update_date": 1632918887455,
      "create_date": 1632918887455,
      "uuid": "bfeec2d4-3770-11e8-ad39-4a0004044aa0",
      "description": "Customization Packages (internal)",
      "export_key": "Customization Packages (internal)",
      "name": "Customization Packages (internal)",
      "enabled": false,
      "system": false,
      "parent_id": null,
      "hidden": false,
      "id": 0
    }
  ],
  "industries": null,
  "layouts": null,
  "locale": "en",
  "message_destinations": [],
  "notifications": null,
  "overrides": [],
  "phases": [],
  "playbooks": {{ playbook_json | json }},
  "regulators": null,
  "roles": [],
  "scripts": [],
  "server_version": {
    "build_number": 0,
    "major": 45,
    "minor": 0,
    "version": "45.0.0"
  },
  "tags": [
  ],
  "task_order": [],
  "timeframes": null,
  "types": [],
  "workflows": [],
  "workspaces": [],
  "action_order": []
}