{% set start_event = "StartEvent_{}".format(make_short_uuid(None)) -%}
{% set end_event_flow = "Flow_{}".format(make_short_uuid(None)) -%}
<?xml version="1.0" encoding="UTF-8"?>
<definitions
	xmlns="http://www.omg.org/spec/BPMN/20100524/MODEL"
	xmlns:bpmndi="http://www.omg.org/spec/BPMN/20100524/DI"
	xmlns:omgdc="http://www.omg.org/spec/DD/20100524/DC"
	xmlns:omgdi="http://www.omg.org/spec/DD/20100524/DI"
	xmlns:resilient="http://resilient.ibm.com/bpmn"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.camunda.org/test">
	<process id="{{ playbook_info.playbook_uuid }}" isExecutable="true" name="{{ playbook_info.playbook_uuid }}">
		<documentation/>
		{% set ns = namespace() -%}
		{% set ns.funct_seq = 0 -%}
		{% set ns.script_seq = 0 -%}
		{% set ns.function_flow_list = [] -%}
		{# this repeats per function #}
		{% for function in functions -%}
			{% set ns.function_flow = "Flow_{}".format(make_short_uuid(None)) -%}
			{% set ns.script_event_flow = "Flow_{}".format(make_short_uuid(None)) -%}
			{% set ns.function_flow_list = ns.function_flow_list + [([ns.function_flow, ns.script_event_flow])] -%}
			{% set ns.funct_seq = ns.script_seq + 1 -%}
			{% set ns.script_seq = ns.funct_seq + 1 -%}
			{% if ns.funct_seq == 1 -%}
				<startEvent id="{{ start_event }}">
					<outgoing>{{ ns.function_flow }}</outgoing>
				</startEvent>
			{% endif -%}
			<serviceTask id="ServiceTask_{{ ns.funct_seq }}" name="{{ current_function.function_display_name }}" resilient:type="function">
				<extensionElements>
					<resilient:function uuid="{{ current_function.function_uuid }}">{{ current_function.preprocessor_script | json }}</resilient:function>
				</extensionElements>
				<incoming>{{ ns.function_flow }}</incoming>
				<outgoing>{{ ns.script_event_flow }}</outgoing>
			</serviceTask>
			<scriptTask id="ScriptTask_{{ ns.script_seq }}" name="parse results for {{ current_function.function_display_name }}">
				<extensionElements>
					<resilient:script uuid="{{ current_function.script_uuid }}"/>
				</extensionElements>
				<incoming>{{  ns.script_event_flow }}</incoming>
				<outgoing>{{ end_event_flow }}</outgoing>
				<script>script</script>
			</scriptTask>
			<sequenceFlow id="{{ ns.function_flow }}" sourceRef="{{ start_event }}" targetRef="ServiceTask_{{ ns.funct_seq }}"/>
			<sequenceFlow id="{{ ns.script_event_flow }}" sourceRef="ServiceTask_{{ ns.funct_seq }}" targetRef="ScriptTask_{{ ns.script_seq }}"/>
			{# end function #}
		{% endfor -%}
		{% set end_seq = ns.script_seq + 1 -%}
		<endEvent id="EndPoint_{{ end_seq }}" resilient:documentation="End point">
			<incoming>{{ end_event_flow }}</incoming>
		</endEvent>
		<sequenceFlow id="{{ end_event_flow }}" sourceRef="ScriptTask_{{ ns.script_seq }}" targetRef="EndPoint_{{ end_seq }}"/>
	</process>
	<bpmndi:BPMNDiagram id="BPMNDiagram_1">
		<bpmndi:BPMNPlane bpmnElement="{{ playbook_info.playbook_uuid }}" id="BPMNPlane_1">
			{# this repeats per function #}
			{# edge and shapes for functions and post-processing scripts #}
			{% set ns.funct_seq = 0 -%}
			{% set ns.script_seq = 0 -%}
			{% for function_script in ns.function_flow_list -%}
				{% set ns.funct_seq = ns.script_seq + 1 -%}
				{% set ns.script_seq = ns.funct_seq + 1 -%}
				<bpmndi:BPMNEdge bpmnElement="{{ function_script[0] }}" id="{{ function_script[0] }}_di">
					<omgdi:waypoint x="721" y="117"/>
					<omgdi:waypoint x="721" y="148"/>
				</bpmndi:BPMNEdge>
				<bpmndi:BPMNEdge bpmnElement="{{ function_script[1] }}" id="{{ function_script[1] }}_di">
					<omgdi:waypoint x="721" y="232"/>
					<omgdi:waypoint x="721" y="278"/>
				</bpmndi:BPMNEdge>
				<bpmndi:BPMNShape bpmnElement="ServiceTask_{{ ns.funct_seq }}" id="ServiceTask_{{ ns.funct_seq }}_di">
					<omgdc:Bounds height="84" width="196" x="623" y="148"/>
				</bpmndi:BPMNShape>
				<bpmndi:BPMNShape bpmnElement="ScriptTask_{{ ns.script_seq }}" id="ScriptTask_{{ ns.script_seq }}_di">
					<omgdc:Bounds height="84" width="196" x="623" y="278"/>
				</bpmndi:BPMNShape>
			{% endfor -%}
			{# start and end shapes #}
			<bpmndi:BPMNShape bpmnElement="{{ start_event }}" id="{{ start_event }}_di">
				<omgdc:Bounds height="52" width="187.083" x="627" y="65"/>
				<bpmndi:BPMNLabel>
					<omgdc:Bounds height="0" width="90" x="616" y="100"/>
				</bpmndi:BPMNLabel>
			</bpmndi:BPMNShape>
			<bpmndi:BPMNEdge bpmnElement="{{ end_event_flow }}" id="{{ end_event_flow }}_di">
				<omgdi:waypoint x="721" y="362"/>
				<omgdi:waypoint x="721" y="404"/>
			</bpmndi:BPMNEdge>
			<bpmndi:BPMNShape bpmnElement="EndPoint_{{ end_seq }}" id="EndPoint_{{ end_seq }}_di">
				<omgdc:Bounds height="52" width="132.15" x="655" y="404"/>
			</bpmndi:BPMNShape>
		</bpmndi:BPMNPlane>
	</bpmndi:BPMNDiagram>
</definitions>