{
  {# JINJA template for updating a new SOAR incident from an endpoint #}
  "name": "{{ jira["fields"]["summary"] }}",
  "inc_id": {{ task["inc_id"] }},
  "required": {{ task["required"] | lower }},
  "status": {% if jira["fields"]["resolutiondate"] is none %} "{{ task["status"] }}" {% else %} "C" {% endif %},
  "frozen": {{ task["frozen"] | lower }},
  "init_date": {{ task["init_date"] }},
  "active": {{ task["active"] | lower }},
  "inc_name": "{{ task["inc_name"] }}",
  "custom": {{ task["custom"] | lower }},
  "id": {{ task["id"] }},
  "inc_training": {{ task["inc_training"] | lower }},
  "cat_name": "{{ task["cat_name"] }}"
}