{
  {# JINJA template for closing a SOAR incident using endpoint data #}
  "version": {{ soar["vers"] + 1 }},
  "changes": [
    {
      "old_value": {"text": null},
      "new_value": {"text": "Resolved"},
      "field": {"name": "resolution_id"}
    },
    {
      "old_value": {"text": null},
      "new_value": {"text": "Closed by Jira"},
      "field": {"name": "resolution_summary"}
    },
    {
      "old_value": {"text": "{{ soar["properties"]["jira_issue_status"] }}"},
      "new_value": {"text": "{{ jira["fields"]["status"]["name"] }}"},
      "field": {"name": "jira_issue_status"}
    },
    {
      "old_value": {"text": "A"},
      "new_value": {"text": "C"},
      "field": {"name": "plan_status"}
    },
    {# The following is required for the automation playbook, Jira Close Issue, to not run when the poller closes a SOAR incident. #}
    {
      "old_value": {"boolean": {% if soar["properties"]["jira_issue_closed_on_jira"] is none %} null {% elif soar["properties"]["jira_issue_closed_on_jira"] is False %} false {% else %} true {% endif %}},
      "new_value": {"boolean": true},
      "field": {"name": "jira_issue_closed_on_jira"}
    }
  ]
}