{
  {# JINJA template for creating a new SOAR incident from an endpoint #}
  "name": "{{ summary }}",
  "description": {% if description is none %} "" {% else %} "{{ description }}" {% endif %},
  "severity_code": "{{ priority }}",
  "create_date": {{ created }},
  "discovered_date": {{ created }},
  "plan_status": "A",
  {# specify your custom fields for your endpoint solution #}
  "properties": {
    "jira_internal_url": "{{ internal_url }}",
    "jira_issue_id": "{{ key }}",
    "jira_server": "{{ jira_server }}",
    "jira_url": "{{ url }}",
    "jira_project_key": "{{ project }}",
    "jira_issue_status": "{{ status }}"
  },
  {# add comments as necessary #}
  "comments": [
    {% for note in comment %}
      { "text": { "format": "text", "content": "{{ note }}" }, "type": "incident" }
      {% if not loop.last %}
        ,
      {% endif %}
    {% endfor %}
  ]
}