{
    {# JINJA template for updating a Defender incident from a Resilient incident. #}
    {% if defender_incident_status %}
      "status": "{{ defender_incident_status }}"
    {% endif %}
    {% if defender_classification %}
        ,"classification": "{{ defender_classification }}"
    {% endif %}
    {# "determine" is set only when classification is TruePositive. Change as necessary #}
    {% if defender_classification == "TruePositive" %}
      {% if defender_determination %}
        ,"determination": "{{ defender_determination }}"
      {% endif %}
    {% endif %}
    {% if defender_tags %}
        {% set tag_list = defender_tags.split(',') %}
        ,"tags": {{ tag_list| tojson }}
    {% endif %}
    {% if defender_comment %}
        ,"comment": "Created by IBM SOAR<br>{{ defender_comment|striptags|safe }}"
    {% endif %}
}