{
  {# JINJA template for creating a new Resilient incident from a Defender incident. #}
  "name": "Defender Incident - {{ incidentName|replace('"', '\\"') }}",
  "discovered_date": {{ createdTime|resilient_datetimeformat }},
  "start_date": {{ createdTime|resilient_datetimeformat }},
  {# if Defender alert users are different than SOAR users, consider using a mapping table using resilient_substitute: #}
  {# "owner_id": "{{ assignedTo|resilient_substitute('{"Automation": "soar_user1@ent.com", "defender_user2@co.com": "soar_user2@ent.com", "DEFAULT": "default_user@ent.com" }') }}", #}
  "plan_status": "{{ status|resilient_substitute('{"Resolved": "C", "Active": "A", "New": "A"}') }}",
  "severity_code": "{{ severity|resilient_substitute('{"Informational": "Low"}') }}",
  "properties": {
    "defender_incident_id": {{ incidentId }},
    "defender_incident_url": "<a target='blank' href='{{ incidentUri }}'>Defender Incident</a>",
    "defender_classification": "{{ classification|replace('"', '\\"') }}",
    "defender_determination": "{{ determination|replace('"', '\\"') }}",
    "defender_incident_createtime": {{ createdTime|resilient_datetimeformat }},
    "defender_incident_lastupdatetime": {{ lastUpdateTime|resilient_datetimeformat }},
    "defender_tags": "{{ tags | join(',') }}"
  },
  "artifacts": [
    {% for alert in alerts %}
     {% for item in alert.entities %}
      {% if item.deviceId %}
        {% set machine_comment = 'Associated with machine id: ' + item.deviceId %}
      {% else %}
        {% set machine_comment = '' %}
      {% endif %}
      {% set artifactFlg = False %}
      {% if item.entityType == 'Ip' %}
      {% set artifactFlg = True %}
      {
        "type": {
          "name": "IP Address"
        },
        "value": "{{ item.ipAddress }}",
        "description": {
          "format": "text",
          "content": "creation date: {{ item.evidenceCreationTime }}\n{{ machine_comment }}"
        }
      }
      {% elif item.entityType == 'User' and item.userPrincipalName %}
      {% set artifactFlg = True %}
      {
        "type": {
          "name": "User Account"
        },
        "value": "{{ item.userPrincipalName }}",
        "description": {
          "format": "text",
          "content": "creation date: {{ item.evidenceCreationTime }}\n{{ machine_comment }}"
        }
      }
      {% elif item.entityType == 'Process' and item.processCommandLine %}
      {% set artifactFlg = True %}
      {
        "type": {
          "name": "Process Name"
        },
        "value": "{{ item.processCommandLine[:100]|replace('\\', '\\\\')|replace('"', '\\"') }}",
        "description": {
          "format": "text",
          "content": "creation date: {{ item.evidenceCreationTime }}\n{{ machine_comment }}"
        }
      }
      {% elif item.entityType == 'Process' and not item.processCommandLine and item.fileName %}
      {% set artifactFlg = True %}
      {
        "type": {
          "name": "File Name"
        },
        "value": "{{ item.fileName|replace('\\', '\\\\')|replace('"', '\\"') }}",
        "description": {
          "format": "text",
          "content": "creation date: {{ item.evidenceCreationTime }}\nFile Path: {{ item.filePath|replace('\\', '\\\\')|replace('"', '\\"') }}\n{{ machine_comment }}"
        }
      }
      {% elif item.entityType == 'Url' and item.url %}
      {% set artifactFlg = True %}
      {
        "type": {
          "name": "URL"
        },
        "value": "{{ item.url }}",
        "description": {
          "format": "text",
          "content": "creation date: {{ item.evidenceCreationTime }}\n{{ machine_comment }}"
        }
      }
      {% elif item.entityType == 'File' %}
      {% set artifactFlg = True %}
      {
        "type": {
          "name": "File Name"
        },
        "value": "{{ item.fileName }}",
        "description": {
          "format": "text",
          "content": "creation date: {{ item.evidenceCreationTime }}\nfile path: {{ item.filePath|replace('\\', '\\\\') }}\n{{ machine_comment }}"
        }
      }
      {% if item.sha1 %}
      ,{
        "type": {
          "name": "Malware SHA-1 Hash"
        },
        "value": "{{ item.sha1 }}",
        "description": {
          "format": "text",
          "content": "creation date: {{ item.evidenceCreationTime }}\nfile name: {{ item.fileName }}\n{{ machine_comment }}"
        }
      }
      {% endif %}
      {% if item.sha256 %}
      ,{
        "type": {
          "name": "Malware SHA-256 Hash"
        },
        "value": "{{ item.sha256 }}",
        "description": {
          "format": "text",
          "content": "creation date: {{ item.evidenceCreationTime }}\nfile name: {{ item.fileName }}\n{{ machine_comment }}"
        }
      }
      {% endif %}
      {% elif item.entityType == 'Registry' %}
      {% set artifactFlg = True %}
      {
        "type": {
          "name": "Registry Key"
        },
        "value": "{{ item.registryHive|lower }}\\{{ item.registryKey|replace('\\', '\\\\') }}",
        "description": {
          "format": "text",
          "content": "creation date: {{ item.evidenceCreationTime }} }}\n{{ machine_comment }}"
        },
        "properties":[
          {
            "name": "{{ item.registryKey|replace('\\', '\\\\') }}",
            "value": "{{ item.registryValue|replace('\\', '\\\\')|replace('"', '\\"') }}"
          }
        ]
      }
      {% elif item.entityType == 'MailMessage' %}
      {% set artifactFlg = True %}
      {
        "type": {
          "name": "Email Sender"
        },
        "value": "{{ item.sender|replace('"', '\\"') }}",
        "description": {
          "format": "text",
          "content": "creation date: {{ item.evidenceCreationTime }}\n{{ machine_comment }}"
        }
      },
      {
        "type": {
          "name": "Email Recipient"
        },
        "value": "{{ item.recipient|replace('"', '\\"') }}",
        "description": {
          "format": "text",
          "content": "creation date: {{ item.evidenceCreationTime }}\n{{ machine_comment }}"
        }
      },
      {
        "type": {
          "name": "Email Subject"
        },
        "value": "{{ item.subject|replace('"', '\\"') }}",
        "description": {
          "format": "text",
          "content": "creation date: {{ item.evidenceCreationTime }}\n{{ machine_comment }}"
        }
      }
      {% endif %}
      ,
     {% endfor %}
     {% if artifactFlg and not loop.last %},{% endif %}
    {% endfor %}
  ],
  "comments": [
    {% for comment in comments %}
      {% if "Created by IBM SOAR" not in comment.comment %}
      {
        "text": {
          "format": "text",
          "content": "Defender Incident comment: {{ comment.createdTime }}\n{{ comment.comment|replace("<br>", "\n")|replace('"', '\\"') }}"
        }
      }
      {% if not loop.last %},{% endif %}
      {% endif %}
    {% endfor %}
  ]
}
