include README.md
include Dockerfile
include entrypoint.sh
include apikey_permissions.txt
recursive-include fn_microsoft_defender/util *
recursive-include fn_microsoft_defender/lib *
include fn_microsoft_defender/LICENSE
include doc/*.md
include doc/screenshots/*
include icons/*

exclude *.bak