include README.md
include Dockerfile
include apikey_permissions.txt
include entrypoint.sh
recursive-include fn_teams/util *
include fn_teams/LICENSE
include doc/*.md
include doc/screenshots/*
include icons/*.png
recursive-include payload_samples/*/ *.json
include tox.ini
recursive-include tests/ *
recursive-include fn_teams/lib *
global-exclude *.bak