include README.md
include Dockerfile
include apikey_permissions.txt
include entrypoint.sh
recursive-include fn_webex/util *
include fn_webex/LICENSE
include doc/*.md
include doc/screenshots/*
include icons/*.png
recursive-include payload_samples/*/ *.json
include tox.ini
recursive-include tests/ *

global-exclude *.bak