include README.md
include fn_machine_learning_nlp/util/*
include fn_machine_learning_nlp/lib/*
include fn_machine_learning_nlp/lib/nlp/*
include fn_machine_learning_nlp/bin/*
include fn_machine_learning_nlp/LICENSE
include doc/*