[closeco3incident]
# -----------------------------------------------------------------------------
# The 'file_lookup' action component
# -----------------------------------------------------------------------------
# The queue we want to listen to
queue=closeco3incident
to_org_name=Taira Industries2
to_org_address=https://192.168.56.101
to_org_username=ztaira@resilientsystems.com
to_org_password=Pass4Admin
