[setup_credentials]
# Login credentials for Resilient
address=https://resilient_address
org_name=Resilient Systems
username=example@resilientsystems.com
password=examplepassword
verify=False

# Name and programmatic name of the message queue to create
# Changing these is not advisable
# If you do change these, prog_names must be all lowercase and have "_" instaed
# of " "
queue_name=tasktrackerqueue
queue_prog_name=tasktrackerqueue
action_name=Task Tracker
queue_reader_email=ztaira@resilientsystems.com
