include README.md
include Dockerfile
include apikey_permissions
include entrypoint.sh
recursive-include fn_create_zoom_meeting/util *
include doc/*.md
include data/*
include fn_create_zoom_meeting/LICENSE
recursive-include payload_samples/*/ *.json
include tests/data/*
include icons/*.png
include tox.ini
include fn_create_zoom_meeting/doc/*
global-exclude *.bak