include README.md
include Dockerfile
include apikey_permissions
include entrypoint.sh
recursive-include fn_create_zoom_meeting/util *
include data/*
include fn_create_zoom_meeting/LICENSE
include tests/data/*
include icons/*
include fn_create_zoom_meeting/doc/*