{#
    Yeti sample output
        "context": [
          {
            "date_added": "2015-02-11T11:00:21",
            "description": "Successor of Cridex. This version is also known as Dridex",
            "guid": "https://feodotracker.abuse.ch/host/5.100.249.215?id=246d7440efc12499a50bd98ed70c0e85",
            "link": "https://feodotracker.abuse.ch/host/5.100.249.215",
            "source": "FeodoTracker",
            "subfamily": "Dridex",
            "version": "D"
          }
         ],
        "created": "2017-11-07T15:45:03.862000",
        "description": null,
        "human_url": "http://resilient:5000/observable/5a01d4ffc81558432d6d2bee",
        "id": "5a01d4ffc81558432d6d2bee",
        "last_analyses": {"ResolveHostnames": "2017-08-08T02:48:17.697000"},
        "sources": [
           "feed"
           ],
        "tags": [
          {
          "first_seen": "2017-11-07T15:45:03.875000",
          "fresh": true,
          "last_seen": "2017-11-07T15:45:03.875000",
          "name": "dridex"
          },
          {
          "first_seen": "2017-11-07T15:45:03.880000",
          "fresh": true,
          "last_seen": "2017-11-07T15:45:03.880000",
          "name": "malware"
          },
          {
          "first_seen": "2017-11-07T15:45:03.885000",
          "fresh": true,
          "last_seen": "2017-11-07T15:45:03.885000",
          "name": "crimeware"
          },
          {
          "first_seen": "2017-11-07T15:45:03.891000",
          "fresh": true,
          "last_seen": "2017-11-07T15:45:03.891000",
          "name": "banker"
          },
          {
          "first_seen": "2017-11-07T15:45:03.897000",
          "fresh": true,
          "last_seen": "2017-11-07T15:45:03.897000",
          "name": "c2"
          }
         ],
        "type": "Ip",
        "url": "http://resilient:5000/api/observable/5a01d4ffc81558432d6d2bee",
        "value": "5.100.249.215"
#}


[
{# Iterate over all the indicators in the result #}
{% for indicator in indicator_list %}
    {
      {# Build ArtifactPropertyDTO objects #}
       "props": [
                {% for key_name in indicator if indicator[key_name] and key_name not in ('id', 'url') %}

                      {% set ind_value = indicator[key_name] %}
                      {% if  key_name == 'sources' %}
                      {
                         "name":"{{ key_name|capitalize }}",
                         "type": "string",
                         "value": "{% for i in indicator.sources %}{{ i|js }}{% if not loop.last %}, {% endif %}{% endfor %}"
                      }
                      {% elif key_name == 'tags' %}
                      {
                         "name": "{{ key_name|capitalize }}",
                         "type": "string",
                         "value": "{% for i in indicator.tags %}{{ i.name|js }}{% if not loop.last %}, {% endif %}{% endfor %}"
                      }
                      {% elif key_name == 'human_url' %}
                      {
                         "name": "TIMS URL",
                         "type": "uri",
                         "value": "{{ ind_value }}"
                      }
                      {% elif key_name == 'last_analyses' %}
                      {
                        "name": "{{ key_name|capitalize }}",
                        "type": "string",
                        "value": "{% for l_key, l_val in indicator.last_analyses.iteritems() %}{{ l_key }}: {{ l_val }}{%if not loop.last %}, {% endif %}{% endfor %}"
                      }
                      {% elif key_name == 'context' %}
                         {% set context_name = '' %}
                         {% for i in indicator.context %}
                            {% set count = loop.index %}
                            {% for context_key, context_value in i.iteritems() if context_value and context_key not in ('date_added', 'guid', 'version')  %}
                            {
                              {% if context_key in ('link', 'report') %}
                                {% if indicator.context|length > 1 %}
                                  {% set count_string = '' ~ count %}
                                  {% set context_name = context_name + count_string.zfill(2) + '. Report URL'%}
                                {% else %}
                                  {% set context_name = context_name + 'Report URL'%}
                                {% endif %}
                                "name": "{{ context_name }}",
                                "type": "uri",
                              {% else %}
                                {% if indicator.context|length > 1 %}
                                  {% set count_string = '' ~ count %}
                                  {% set context_name = context_name + count_string.zfill(2) +  '. ' + context_key|capitalize %}
                                {% else %}
                                  {% set context_name = context_name + '' + context_key|capitalize %}
                                {% endif %}
                                "name": "{{ context_name }}",
                                "type": "string",
                              {% endif %}
                              "value": "{{ context_value|e }}"
                            }
                            {% if not loop.last %}, {% endif %}
                            {% endfor %}
                          {% if not loop.last %}, {% endif %}
                          {% endfor %}
                      {% else %}
                      {
                         "name":"{{ key_name|capitalize }}",
                         "type": "string",
                         "value": "{% if ind_value is not none %}{{ ind_value|js }}{% endif %}"
                      }
                      {% endif %}

                {{ "," if not loop.last }}
                {% endfor %}
        ]
    }
    {{ "," if not loop.last }}
{% endfor %}
]
