include README.md
include Dockerfile
include apikey_permissions.txt
include entrypoint.sh
recursive-include fn_qradar_integration/util *
include fn_qradar_integration/LICENSE
include doc/*.md
include doc/screenshots/*
include icons/*.png
include tox.ini
recursive-include tests/ *

exclude *.bak