{% if is_msg_parent %}{{ username }} POSTED ON {{ msg_time }}:
{{ msg_text }}
{% if reply_count > 0 %}{{ reply_count }} REPLIES:
{% endif %}
{% else %}    {{ username }} POSTED A REPLY ON {{ msg_time }}:
    {{ msg_text }}

{% endif %}