Classification: {{ classification }}
Sender: {{ sender }}
From address: {{ fromAddress }}
From header: {{ headerFrom }}
To header: {{ headerTo }}
Recipient: {{ recipient }}
Message ID: {{ messageID }}
