Friendly Display: {{ display }}
Malicious: {{ malicious }}
Relative time at which the evidence was observed during sandboxing: {{ time }}
Platforms in which Evidence was seen: {% for platform in platforms -%} Name - {{ platform.name }}, OS - {{ platform.os }}, Version - {{ platform.version }}{% endfor %}
Evidence Type: {{ type }}
Facets associated with Evidence Type: {% for key, value in what.items() %}{{key}} - {{value}}{% endfor %}