include README.md
include Dockerfile
include entrypoint.sh
include fn_elasticsearch/util/*
include fn_elasticsearch/LICENSE
include fn_elasticsearch/doc/*
include doc/*.md
include doc/screenshots/*

exclude *.bak