[setup_credentials]
# Login credentials for Resilient
address=https://172.20.1.153
org_name=Resilient Systems
username=ztaira@resilientsystems.com
password=Pass4Admin
verify=False

# Name and programmatic name of the message queue to create
# Changing these is not advisable
# If you do change these, prog_names must be all lowercase and have "_" instaed
# of " "
queue_name=tasktrackerqueue
queue_prog_name=tasktrackerqueue
action_name=Task Tracker
queue_reader_email=ztaira@resilientsystems.com
