[setup_credentials]
# Login credentials for Resilient
address=https://192.168.56.101
org_name=Taira Industries2
username=ztaira@resilientsystems.com
password=Pass4Admin
verify=False

# Name and programmatic name of the message queue to create
queue_name=newdestination
queue_prog_name=newdestination
