include README.md
include Dockerfile
include apikey_permissions.txt
include entrypoint.sh
recursive-include fn_salesforce/util *
recursive-include fn_salesforce/lib *
recursive-include fn_salesforce/poller *
include fn_salesforce/LICENSE
include doc/*.md
include doc/screenshots/*
include icons/*.png
recursive-include payload_samples/*/ *.json
include tox.ini
recursive-include tests/ *

global-exclude *.bak