include README.md
include Dockerfile
include apikey_permissions.txt
include entrypoint.sh
recursive-include fn_cisco_asa/util *
recursive-include fn_cisco_asa/lib *
include fn_cisco_asa/LICENSE
include doc/*
include doc/screenshots/*
include icons/*.png
recursive-include payload_samples/*/ *.json
include tox.ini
recursive-include tests/ *

global-exclude *.bak
