include README.md
include Dockerfile
include apikey_permissions.txt
recursive-include fn_misp/util *
recursive-include fn_misp/lib *
include fn_misp/LICENSE
include doc/*.md
include doc/screenshots/*
include icons/*.png
recursive-include payload_samples/*/ *.json
include tox.ini
recursive-include tests/ *

global-exclude *.bak