include README.md
include Dockerfile
include apikey_permissions.txt
include icons/*.png
include tox.ini
include fn_whois_rdap/LICENSE
recursive-include fn_whois_rdap/util *
recursive-include payload_samples *
recursive-include doc *
recursive-include tests/ *
global-exclude *.bak