include README.md
global-exclude *.bak
recursive-include fn_outbound_email/util *
recursive-include fn_outbound_email/lib *
include fn_outbound_email/LICENSE
include fn_outbound_email/data/templates/*
include doc/*
include data/*
