include README.md
include apikey_permissions.txt
include Dockerfile
include entrypoint.sh
include fn_aws_guardduty/util/*
include fn_aws_guardduty/LICENSE
include doc/*.md
include doc/screenshots/*

exclude *.bak