include README.md
include Dockerfile
include apikey_permissions.txt
include entrypoint.sh
recursive-include fn_network_utilities/util *
recursive-include fn_network_utilities/data *
include fn_network_utilities/LICENSE
include doc/*.md
include doc/screenshots/*
include icons/*.png
recursive-include payload_samples/*/ *.json
include tox.ini
recursive-include tests/ *

global-exclude *.bak