include README.md
include Dockerfile
include apikey_permissions.txt
recursive-include fn_pagerduty/util *
recursive-include fn_pagerduty/lib *
recursive-include fn_pagerduty/poller *
recursive-include fn_pagerduty/poller/data *
include fn_pagerduty/LICENSE
include doc/*.md
include doc/screenshots/*
include icons/*.png
recursive-include payload_samples/*/ *.json
include tox.ini
recursive-include tests/ *

global-exclude *.bak