{
    {# JINJA template for updating a new Resilient incident from a Sentinel incident. #}
    "properties": {
        "severity": "{{ properties.sentinel_incident_status }}",
        "status": "{{ properties.sentinel_incident_status }}",
        "title": "{{ name|e }}",
        "classification": "{{ properties.sentinel_incident_classification }}",
        "classificationComment": "{{ properties.sentinel_incident_classification_comment|e }}",
        "classificationReason": "{{ properties.sentinel_incident_classification_reason }}",
        "description": "{{ description|e }}",
        "labels": "{{ properties.sentinel_incident_labels }}",
    }
}