{
    {# JINJA template for updating a new Sentinel incident from a SOAR incident. #}
    "properties": {
        "title": "{{ name|resilient_splitpart(1)}}",
        "severity": "{{ severity_code|string|resilient_substitute('{"4":"Low", "5":"Medium", "6":"High", "55":"Low", "56":"Medium", "57":"High"}') }}",
        "status": "{{ properties.sentinel_incident_status }}",
        "classification": "{{ properties.sentinel_incident_classification }}",
        "classificationComment": "{{ properties.sentinel_incident_classification_comment|safe }}",
        "classificationReason": "{{ properties.sentinel_incident_classification_reason }}",
        "description": "{{ description|striptags|safe }}",
        {% set label_list = properties.sentinel_incident_labels.split(',') -%}
        "labels": [
        {% for label in label_list %}
            {% if label %}
            {
                "labelName": {{ label | trim | json }},
                "labelType": "User"
            }
            {% endif %}
        {% if not loop.last %},{% endif %}
        {% endfor %}
        ]
    }
}