{
    {# JINJA template for updating a new Sentinel incident from a Resilient incident. #}
    "properties": {
        "severity": "{{ severity_code|string|resilient_substitute('{"4": "Low", "5": "Medium", "6": "High"}') }}",
        "status": "{{ properties.sentinel_incident_status }}",
        "title": "{{ name|replace('Sentinel Incident - ', '')|safe }}",
        "classification": "{{ properties.sentinel_incident_classification }}",
        "classificationComment": "{{ properties.sentinel_incident_classification_comment|safe }}",
        "classificationReason": "{{ properties.sentinel_incident_classification_reason }}",
        "description": "{{ description|striptags|safe }}",
        "labels": "{{ properties.sentinel_incident_labels }}"
    }
}