{% extends "base.html" %}
{% block basecontent %}
   {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="row">
          <div class="alert alert-info" role="alert">&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}</div>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
     <div>
         <form  class="form " action="" method="post" name="login">
             <table>
             {{ form.hidden_tag() }}
                    {% for f in form %}
                    <!--
                        -- {# f.widget.input_type #} *{# f.type #}*  --
                        -->
                        {% if f.widget.input_type != 'hidden' %}
                            {% if f.widget.input_id != 'submit' %}
                                <tr>
                                    <td> &nbsp;&nbsp;&nbsp; <td>
                                    <td>{{ f.label }}</td>
                                    <td>{{ f }} </td>
                                </tr>
                            {% else %}
                                <tr><td>{{ f }}</td></tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    
            </table>
        </form>
    </div>


{% endblock %}