{% extends "base.html" %}


{% block basecontent %}
    <div class = container>
    <form action="" method="post" name="test">
        <table>
          {{ form.hidden_tag() }}
            {% for f in form %}
              {% if f.widget.input_type != 'hidden' %}
                <tr>
                  <td>{{ f.label }}</td>
                  <td>{{ f }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          <tr>
            <td><input type="submit" value="Test"></td>
          </tr>
        </table>



{% endblock %}