include apikey_permissions.txt
include Dockerfile
include entrypoint.sh
include README.md
recursive-include fn_clamav/util *
include fn_clamav/LICENSE
include fn_clamav/doc/*
include fn_create_webex_meeting/icons/*
