include README.md
include Dockerfile
include apikey_permissions.txt
recursive-include fn_pa_panorama/util *
include fn_pa_panorama/LICENSE
include doc/*.md
include doc/screenshots/*
include icons/*.png
recursive-include payload_samples/*/ *.json
include tox.ini
recursive-include tests/ *

global-exclude *.bak