{
  {# JINJA template for closing a SOAR incident using endpoint data #}
  "plan_status": "C",
  "resolution_id": "Resolved",
  "resolution_summary": "Closed by Google Cloud SCC. {{ source_properties['DeactivationReason'] if 'DeactivationReason' in source_properties }}",
  {# add additional fields based on your 'on close' field requirements #}
  "properties": {
    "google_scc_class": "<span class='label' rel='tooltip' title='{{ finding_class }}'>{{ finding_class }}</span>",
    "google_scc_compliance_standards": "{% for standard in source_properties['compliance_standards'] %}
<span class='label' rel='tooltip' title='{{ standard|upper }}'>{{ standard|upper }} : {{ source_properties['compliance_standards'][standard][0]['ids'][0] }}</span> 
      {% endfor %}",
    "google_scc_security_marks": "{% for mark_key in security_marks['marks'] %}
<span class='label' rel='tooltip' title='{{ mark_key }}'>{{ mark_key }} : {{ security_marks['marks'][mark_key] }}</span> 
      {% endfor %}",
    "google_scc_remediation_link": "<b>{{ resource["display_name"] }}</b><br> <a target='_blank' href='{{ external_uri }}'>{{ resource["name"] }}</a>",
    "google_scc_category": "<span class='label' rel='tooltip' title='{{ category }}'>{{ category }}</span>",
    "google_scc_recommendation": "{{ linkified_recommendation | replace('"', '\\"') }}",
    "google_scc_vulnerability": "{{ vulnerability['cve'] if 'cve' in vulnerability }}",
    "google_scc_state": "{{ state }}"
  }
}