{
  {# JINJA template for updating a new SOAR incident from an endpoint #}
  {# modify to specify your specific **data** fields #}
  "severity_code": "{{ Priority }}",
  {# specify your custom fields for your endpoint solution #}
  "properties": {
    "salesforce_case_id": "{{ Id }}",
    "salesforce_case_number": "{{ CaseNumber }}",
    "salesforce_case_type": "{{ Type }}",
    "salesforce_case_link": "<a target='_blank' href='{{ entity_url }}'>Link</a>",
    "salesforce_origin": "{{ Origin }}",
    "salesforce_account_id": "{{ AccountId }}",
    "salesforce_owner_id": "{{ OwnerId }}",
    {% if ContactId is not none %}
    "salesforce_contact_id": "{{ ContactId }}",
    {% endif %}
    "salesforce_contact_phone": "{{ ContactPhone }}",
    "salesforce_contact_email": "{{ ContactEmail }}",
    "salesforce_contact_fax": "{{ ContactFax }}",
    "salesforce_supplied_name": "{{ SuppliedName }}",
    "salesforce_supplied_email": "{{ SuppliedEmail }}",
    "salesforce_supplied_phone": "{{ SuppliedPhone }}",
    "salesforce_supplied_company": "{{ SuppliedCompany }}",
    "salesforce_reason": "{{ Reason }}",
    "salesforce_status": "{{ Status }}"
  }
}
