{
  {# JINJA template for updating a new SOAR incident from an endpoint #}
  {# modify to specify your specific **data** fields #}
  "severity_code": "{{ Priority }}",
  {# specify your custom fields for your endpoint solution #}
  "properties": {
    "salesforce_status": "{{ Status }}"
  }
}
