include apikey_permissions.txt
include Dockerfile
include entrypoint.sh
include README.md
include icons/*.png
include fn_sep/LICENSE
include doc/*.md
include fn_sep/doc/*
include doc/screenshots/*
include tox.ini

recursive-include fn_sep/util *
recursive-include fn_sep/lib *
recursive-include payload_samples *.json
recursive-include tests *

global-exclude *.bak
