include apikey_permissions.txt
include Dockerfile
include entrypoint.sh
include README.md
include fn_calendar_invite/*
recursive-include fn_calendar_invite/util *
include fn_calendar_invite/LICENSE
include fn_calendar_invite/doc/*
include fn_calendar_invite/icons/*