include README.md
include Dockerfile
include apikey_permissions.txt
include entrypoint.sh
recursive-include fn_darktrace/util *
recursive-include fn_darktrace/lib *
recursive-include fn_darktrace/poller *
include fn_darktrace/LICENSE
include doc/*.md
include doc/screenshots/*
include icons/*.png
recursive-include payload_samples/*/ *.json
include tox.ini
recursive-include tests/ *

global-exclude *.bak