[resilient]

# Basic service connection
host=resilient
port=443
email=resilientexample@gmail.com
password=password
org=exampleorg

# Actions Module connection
stomp_port=65001

# Directory containing the other components to load
componentsdir=components

# Directory where log files will be written
logdir=logs

# If your Resilient server uses a self-signed TLS certificate, or some
# other certificate that is not automatically trusted by your machine,
# you need to explicitly tell the Python scripts that it should be trusted.
# To explicitly trust a site, download its certificate to a file, e.g:
#    mkdir -p ~/resilient/
#    openssl s_client -connect resilient.example.com:443 -showcerts < /dev/null 2> /dev/null | openssl x509 -outform PEM > ~/resilient/cert.cer
# then specify the file (remove the '#' from the line below):
cafile=~/resilient/cert.cer

# -----------------------------------------------------------------------------
# The 'file_lookup' action component
# -----------------------------------------------------------------------------
[timedelta1]
queue=timedelta

# Pick the custom fields to lookup and write to
source_field=custom3
source_field2=custom4
dest_field=custom5
