include README.md
include Dockerfile
include entrypoint.sh
recursive-include fn_service_now/util *
recursive-include docs *
include fn_service_now/LICENSE
include appx_docs/*.pdf
include icons/*.png
include apikey_permissions.txt
recursive-include payload_samples/*/ *.json
include tox.ini
recursive-include tests/ *

global-exclude *.bak