{
  {# JINJA template for a HarfangLab EDR agent to feed a HarfangLab agent data table. #}
  "cells": {
    "harfanglab_dt_agent_id": {"value": "{{ agentid }}" },
    "harfanglab_dt_hostname": {"value": "{{ hostname }}" },
    "harfanglab_dt_domain_name": {"value": "{{ domainname }}" },
    "harfanglab_dt_os_type": {"value": "{{ ostype }}" },
    "harfanglab_dt_os_product_type": {"value": "{{ osproducttype }}" },
    "harfanglab_dt_os_version": {"value": "{{ osversion }}" },
    "harfanglab_dt_agent_version": {"value": "{{ version }}" }
  }
}
