{
  "title": "IBM SOAR - {{ name|e }}",
  "assignedUser": {% if siemplify_assigned_user %} "{{ siemplify_assigned_user }}" {% else %} null {% endif %},
  "reason": "IBM SOAR Incident {{ id }}",
  "priority": {{ severity_code.name | resilient_substitute('{"Low":40, "Medium":60, "High":80, "DEFAULT":60}') }},
  "environment": "{{ siemplify_environment if siemplify_environment else 'Default Environment'}}",
  "isImportant": {{ confirmed | tojson }},
  "alertName": "IBM SOAR Alert {{ id }}",
  "occurenceTime": "{{ discovered_date | resilient_display_datetimeformat(milliseconds=True) }}",
  "slaExpirationDateTime": null,
  "playbooks": {{ siemplify_playbooks | tojson }},
  "tags": {{ siemplify_tags | tojson }}
}