{
  "title": "IBM SOAR - {{ name }}",
  "assignedUser": {% if siemplify_assigned_user %} "{{ siemplify_assigned_user }}" {% else %} null {% endif %},
  "reason": {% if description %} "{{ description }}" {% else %} "" {% endif %},
  "priority": {{ severity | string | resilient_substitute('{"4": 25, "5": 50, "6": 75, "DEFAULT": 50}') }},
  "environment": "{{ siemplify_environment if siemplify_environment else 'Default Environment'}}",
  "isImportant": {{ confirmed | tojson }},
  "alertName": "IBM SOAR Case",
  "occurenceTime": "{{ discovered_date | resilient_display_datetimeformat(milliseconds=True) }}",
  "slaExpirationDateTime": null,
  "playbooks": [ ],
  "tags": [
    "Phishing"
  ]
}