{
  "caseId": "{{ siemplify_case_id }}",
  "alertIdentifier": "{{ siemplify_alert_id }}",
  "entities": [
    {
      "caseId": 0,
      "identifier": "{{ siemplify_artifact_value }}",
      "entityType": "{{ siemplify_entity_type }}",
      "isInternal": true,
      "isSuspicious": false,
      "isArtifact": true,
      "isEnriched": false,
      "isVulnerable": false,
      "isPivot": false,
      "environment": "{{ siemplify_environment }}",
      "fields": [
        {
          "isHighlight": false,
          "groupName": "Default",
          "items": [
            {
              "originalName": "Type",
              "name": "Type",
              "value": "{{ siemplify_entity_type }}"
            },
            {
              "originalName": "IsInternalAsset",
              "name": "IsInternalAsset",
              "value": "True"
            },
            {
              "originalName": "IsSuspicious",
              "name": "IsSuspicious",
              "value": "False"
            },
            {
              "originalName": "IsEnriched",
              "name": "IsEnriched",
              "value": "False"
            },
            {
              "originalName": "IsVulnerable",
              "name": "IsVulnerable",
              "value": "False"
            },
            {
              "originalName": "IsArtifact",
              "name": "IsArtifact",
              "value": "True"
            },
            {
              "originalName": "IsManuallyCreated",
              "name": "IsManuallyCreated",
              "value": "True"
            },
            {
              "originalName": "Environment",
              "name": "Environment",
              "value": "{{ siemplify_environment }}"
            }
          ]
        },
        {
          "isHighlight": false,
          "groupName": "Entity",
          "items": [
            {
              "originalName": "IsPivot",
              "name": "Is Pivot",
              "value": "false"
            }
          ]
        }
      ],
      "isManuallyCreated": true,
      "isCustom": true,
      "id": "{{ siemplify_artifact_value| replace(' ', '_') }}_{{ siemplify_environment| replace(' ', '_') }}"
    }
  ]
}