{
  # JINJA template for closing a new Resilient incident from a Defender alert. #}
  "plan_status": "C",
  "resolution_id": "Resolved",
  "resolution_summary": "Closed from Siemplify: Root Cause: {{ rootCause }} Reason: {{ closeReason}}"
  # additional fields may be needed. Add as necessary
  # "properties": { }
}